.main-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto 200px;

    &__filter {
        width: 100%;
        background-color: #ffffff;
    }

    &__trip {
        width: 100%;
        background-color: transparent;
    }
}